body {
    background-color: cornflowerblue;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: cornflowerblue; /* color de fondo */
    color: #fff; /* color del texto */
    
}
.input-field {
    display: inline-block;
    margin-right: 10px; /* Opcional: Agregar un margen a la derecha para separar el campo de entrada y el mensaje */
}

#section1 {
    background-color: #f2f2f2;
    color: #333;
}

#section2 {
    background-color: #333;
    color: #fff;
}

#section1 {
    background-color: #333;
    color: #fff;
}

#section2 {
    background-color: #333;
    color: #fff;
}

#section1 {
    float: left;
    border: 2px solid white;
    padding: 40px;
}

#section2 {
    float: right;
    border: 2px solid white;
    padding: 40px;
}

input[type="submit"] {
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

h1 {
    color:greenyellow;
  }

  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid gray;
    background-color: white;
    outline: none;
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: gold;
    border-color: goldenrod;
  }
#divAl{
    background-color: #333;
    color: #fff;
    border: 2px solid white;
    padding: 40px;
    text-align: center;
}

#divR{
    background-color: #333;
    color: #fff;
    border: 2px solid white;
    padding: 40px;
    text-align: center;
}

#divAlum2{
    background-color: #333;
    color: #fff;
    border: 2px solid white;
    padding: 40px; 
}

#tbl1{
    margin: auto;
    border-collapse: collapse;
    width: 100%;
}


th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid white;
}

th {
    background-color: darkblue;
    color: white;
    
}

tr:nth-child(odd) {
    background-color: white;
}

main {
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin: 20px 0;
    padding: 20px;
}
